/*=========================
        Login Section
=========================*/

.login-section{
    min-height:100vh;
    background:url("./images/login.jpg") center/cover no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

.login-overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.45);
}

.login-card{

    position:relative;
    z-index:2;

    width:360px;

    background:#fff;

    padding:45px;

    border-radius:18px;

    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

.login-card h2{
    text-align:center;
    font-size:24px;
    font-weight:300;
    margin-bottom:35px;
    color:#222;
}

/*=========================
        Input Group
=========================*/

.input-group{

    display:flex;
    align-items:center;

    border:1px solid #ddd;

    height:48px;

    margin-bottom:22px;

    overflow:hidden;
}

.input-group i{

    width:45px;

    text-align:center;

    color:#777;

    border-right:1px solid #ddd;
}

.input-group input{

    flex:1;

    border:none;

    outline:none;

    padding:0 15px;

    font-size:14px;
}

.input-group:focus-within{

    border-color:#999;
}

/*=========================
        Bottom
=========================*/

.login-bottom{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-top:10px;
}

.remember{

    display:flex;

    align-items:center;

    gap:8px;

    font-size:14px;

    color:#666;

    cursor:pointer;
}

.login-bottom button{

    width:140px;

    height:42px;

    background:#191b25;

    color:#fff;

    border:none;

    cursor:pointer;

    font-size:13px;

    font-weight:600;

    letter-spacing:1px;

    transition:.3s;
}

.login-bottom button:hover{

    background:#333;
}